/build
/managed_components
sdkconfig.old
/.vscode
dependencies.lock
sdkconfig
sdkconfig.defaults
sdkconfig.ci
# Ignore everything in the folder
client/*

# But not this specific file
!folder/ble_client.py

/hand_gesture_recognition
main/hand_gesture_ml.cpp
main/include/hand_gesture_ml.h