/build
/main/build
/managed_components
/components
sdkconfig.old
/.vscode
dependencies.lock
sdkconfig
sdkconfig.defaults
sdkconfig.ci
# Ignore everything in the folder
client/*

# But not this specific file
!folder/ble_client.py